/* 控制栏 */
#bar {
    -fx-background-color: #28282c;
    -fx-background-radius: 4px 0px 0px 4px;
}

#barPortrait, #barPortrait:hover, #barPortrait:pressed {
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px 50px;
    -fx-background-color: #f6f6f6;
    -fx-background-image: url("https://cdn.jsdelivr.net/gh/1802343228/image@main/avatar.3sylmzwhoqi0.png");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: #f6f6f6;
}

.bar {
    -fx-background-radius: 2px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: transparent;
}


.groupBarChat {
    -fx-background-color: linear-gradient(to right, #114357, #f29492);
}

.groupBarFriend {
    -fx-background-color: linear-gradient(to right, #085078, #85d8ce);
}

.groupBarLocation {
    -fx-background-color: linear-gradient(to right, #536976, #292e49);
}
.groupBarSet {
    -fx-background-color: linear-gradient(to right, #606c88, #3f4c6b);
}