/*.root {*/
/*    -fx-background-image: url(../img/bg6.jpeg);*/
/*    -fx-background-size: cover;*/
/*}*/

.title {
    -fx-font-size: 30;
    -fx-text-fill: #41afbd;
}

.btn {
    -fx-min-width: 100;
    -fx-min-height: 40;
    -fx-background-color: #41afbd;
    -fx-text-fill: #f6f6f6;
    -fx-font-size: 16;
}
.textF {
    -fx-font-size: 30;
    -fx-start-margin: 20;
}
.listV {
    -fx-font-size: 30;
    -fx-start-margin: 20;

}

.vboxBg {
    -fx-padding: 50;
    -fx-background-image: url(../img/bg4.jpeg);
    -fx-background-size: cover;

}
.box1{
    -fx-background-color: linear-gradient(to right, #3980b6, #efe4b1);
}
.box2{
    -fx-background-color: linear-gradient(to right, #22838c, #efe4b1);
}
.box3{
    -fx-background-color: linear-gradient(to right,#3980b6, #efe4b1);
}
.box4{
    -fx-background-color: linear-gradient(to right, #22838c, #efe4b1);

}
.btn-border {
    -fx-background-insets: 0;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-font-size: 20;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-progress-color: white;
}
.btn-border:hover {
    -fx-font-size: 30;
}
